/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    padding: 1rem;
}

/* Subtitle */
h2 {
    color: purple;
}

/* Instructions */
table {
    font-family: "Roboto Mono", monospace;
    font-size: 0.85rem;
}

.prime {
    color: #D2386C;
}

.table-hover .prime:hover {
    color: #34568D;
}

/* Percent Information */
#percentinfo {
    color: #009B77;
    font-size: 1.5rem;
    padding: 1.2rem;
}
